html {
    height: 100%;
    margin: 0 auto;
}

body {
    background: #eeeeee; /* For browsers that do not support gradients */
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
  flex: 1;
}


.footer {
    padding: 5px;
    background-color: #d5d5d5;
}

#footer .content p {
    margin-bottom: 0
}

table {
    background-color: white !important;
}

thead{
    background: white; /* For browsers that do not support gradients */
    color: white;
}

h2{
    font-family: Futura!important;
    font-weight: bolder !important;
}

#jumbo {
    background: lightgrey; /* For browsers that do not support gradients */
    color: black;
    font-family: Futura!important;
}

#clear-jumbo{
    background: rgba(240, 240, 240, 0);
}

#file_system_jumbo{
    background: transparent;
}

#search-box {
    font-family: Futura!important;
    font-weight: normal !important;
}

#search-table {
    word-wrap:break-word;
    background: transparent;
    color: black;
    font-family: Futura!important;
}

#heading-containter {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-family: Futura !important;
}

#pre-custom {
    max-height: 400px;
    overflow: scroll;
    background-color: transparent;
    color: black;
}

.navbar-custom div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

.nav-div{
    background-image: -webkit-linear-gradient(315deg,#040224,#0C0F6A,#0C0F7D);
    background-image: -o-linear-gradient(315deg,#040224,#0C0F6A,#0C0F7D);
    background-image: linear-gradient(135deg,#040224,#0C0F6A,#0C0F7D);
}

.navbar-custom{
    background-color: transparent;
}

.navbar-custom .navbar-nav {
}

.navbar-custom .navbar-nav > li > a {
    font-family: Futura, sans-serif;
    color: white;
}

.navbar-custom .navbar-brand {
    font-family: Futura, sans-serif;
    color: white;
    vertical-align: middle;
    font-size: 250%;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: lightblue;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: lightblue;
    background-color: transparent;
}

#genreModal .modal-header, #uploadModal .modal-header, #genreChangeModal .modal-header{
    background-image: -webkit-linear-gradient(315deg,#040224,#0C0F6A,#0C0F7D);
    background-image: -o-linear-gradient(315deg,#040224,#0C0F6A,#0C0F7D);
    background-image: linear-gradient(135deg,#040224,#0C0F6A,#0C0F7D);
    color: white;
}

